<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Template Email</title>
    <style>
        body {
            background-color: #f6f6f6;
            width: 100%;
            font-family: sans-serif;
            -webkit-font-smoothing: antialiased;
            font-size: 14px;
            line-height: 1.4;
            margin: 0;
            padding: 0;
            height: auto;
            float: left;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            position: relative;
        }

        .container {
            display: block;
            margin: 0 auto !important;
            max-width: 650px;
            padding: 10px;
            background: #fff;
            position: relative;
        }        

        .omairi_title{
            background: #A39DF7;
        }
        img {
            border: none;
            max-width: 100%;
        }
        .logo{
            margin: 20px auto;
        }
        h1{
            margin: 20px;
            text-align: center;
            color: #fff;
        }
        .footer p {
            padding: 15px;
            margin: 0;
            display: block;
            text-align: center;
            font-size: 14px;
            color: #fff;
        }
        .footer {
            background: #A39DF7;
        }
        .wapper_submit{
            width: 100%;
            margin-bottom: 30px;
            display: flex;
        }
        .btn{
            padding: 13px 18px;
            color: #fff;
            background: #6D64E3;
            border-radius: 6px;
            display: block;
            margin: 0 auto;
            text-transform: none;
            text-decoration: none;
        }

        .wapper_content {
            box-sizing: border-box;
            display: block;
            padding: 20px 15px;
        }
        .wapper_title{
            padding-bottom: 8px;
            border-bottom: 1px solid#ececec;
            font-size: 16px;
            font-weight: bold;
        }
        ul{
            width: 100%;
            float: left;
            padding: 0;
            margin-bottom: 10px;
        }
        li{
            width: 100%;
            margin-bottom: 10px;
            text-align: left;
            list-style: none;
            font-size: 14px;
        }

        .wapper_note {
            color: #a7a7a7;
            font-size: 12px;
            margin-top: 25px;
            margin-bottom: 30px;
            display: block;
        }

    </style>
</head>

<body class="">
    <header class="omairi_title container">
        <div class="logo">
            <img src="/data/logo/logo.png" class="img-response">
        </div>
        <h1>Template</h1>
    </header>
    <div class="container">
        <div class="wapper_content">
            <h3 class="wapper_title">
                Welcome, sir
            </h3>
            <p>
                Please click the button to go to the password reset page 
            </p>
            <div class="wapper_submit">
                <a class="btn" href="{{iosDeepLink}}">
                    IOS
                </a>
                <a class="btn" href="{{androiDeepLink}}">
                    ANDROI
                </a>
                <a class="btn" href="{{webUrl}}">
                    WEB
                </a>
            </div>
            <h3 class="wapper_title"> 
                Tutorial
            </h3>
            <ul>
                <li>
                    Step 1: Press the button above to move to the password reset screen
                </li>
                <li>
                    Step 2: Please enter your email: {{email}} and your new password (note: password must be at least 8 characters, have at least 1 uppercase letter and 1 number). Then click the submit button
                </li>
                <li>
                    Step 3: Complete the password reset process. You can go to the app to log back in.
                </li>
            </ul>
            <span class="wapper_note">
                If you have any questions or need help, please contact us by phone number: +8406134xxxx or email:
            </span>
        </div>
    </div>
    <div class="container footer">
        <p>
            Copyright ©2021. All Rights Reserved.
        </p>
    </div>
</body>

</html>